* {
    box-sizing: border-box;
    --color-secondary-darkest: #000E0E;
    --color-secondary-dark: #15151E;
    --color-secondary-light: #3E4050;
    --color-secondary-lightest: #5E6070;
    --color-primary-dark: #213559;
    --color-primary: #0F5BA3;
    --color-primary-light: #576780;
    --color-primary-lighter: #7D8CA3;
    --color-primary-lightest: #FBFCFF;
    --color-tertiary: #E58E9E;
}

body {
    background: linear-gradient(to right, var(--color-primary-light), var(--color-primary-lighter));
}

h1 {
    font-size: 50px;
    text-align: center;
    color: var(--color-primary-lightest);
    text-shadow: 2px -2px var(--color-tertiary);
}

#calcBody {
    width: 500px;
    margin: auto;
    background-color: var(--color-secondary-light);
    padding: 10px;
    border-radius: 6px;
    box-shadow: var(--color-tertiary) 0px 0px 3px 4px, var(--color-primary-lighter) 0px 2px 16px 0px;
}

#calcHistory {
    height: 30px;
    width: 100%;
    padding-right: 10px;
    text-align: right;
    font-size: 15px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--color-tertiary);
    background-color: var(--color-secondary-dark);
    box-shadow: inset 0 1px 1px var(--color-secondary-darkest), 0px 1px var(--color-secondary-lightest);
}

#calcDisplay {
    height: 45px;
    width: 100%;
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 30px;
    outline: none;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--color-primary-lightest);
    background-color: var(--color-secondary-dark);
}

#calcBtns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#calcBtns button {
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px 1px var(--color-primary-lighter), 0 1px 1px var(--color-secondary-light);
    color: var(--color-primary-lightest);
    background-color: var(--color-primary-light);
    font-weight: 700;
    font-size: 25px;
}

#calcBtns button:active {
    transform: translateY(1px);
}

#calcBtns button:hover {
    box-shadow: inset 0 1px 1px var(--color-secondary-darkest), 0px 1px var(--color-secondary-lightest);
}

#calcBtns .digit {
    color: var(--color-primary-lightest);
    background-color: var(--color-primary-dark);
}

#calcBtns #equals {
    grid-row: span 2;
    height: 90px;
    color: var(--color-primary-lightest);
    background-color: var(--color-primary);
}

#calcBtns #clear {
    color: var(--color-primary-lightest);
    background-color: var(--color-tertiary);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--color-tertiary);
    font-size: 20px;
    letter-spacing: 4px;
}

footer a:hover {
    color: var(--color-primary-lightest);
}