#calcBody {
    width: 60vw;
}

#calcDisplay {
    width: 100%;
    text-align: right;
    font-size: 30px;
}

#calcBtns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#equals {
    grid-column: span 2;
}